<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Authorization form</title>
</head>
<body>
    <main id="authorization" class="container">
        
        <form id="app"  method="post" v-if="formAuthorizationVisibility" class="authorizationForm">
            <h1>Authorize or register</h1>
            <label>Username <input type="text" v-model="loginValue" @change="inputCheck" placeholder="Username"></label>

            <label>Password <input type="password" v-model="passValue" @change="inputCheck" placeholder="Password"></label>

            <template v-if="repeatPasswordVisibility">
                <label>Repeat password<input type="password" v-model="repeatPassValue" @change="inputCheck" placeholder="Repeat password"></label>
            </template>

            <span class="help" v-if="helpMessageVisibility">
                {{helpMessage}}
            </span>
            
            <div class="control">
                <input type="button" value="Sign in" class="btn btn-success"
                    @click="signIn"
                ></input>
                or
                <input type="button" value="Register" class="btn btn-success"
                    @click="register"
                ></input>
            </div>
        </form>

        <div class="signed-in" v-if="signedInPage">
            <p>Hello {{signedUser}}!</p>
            <p>You have signed in successfully!</p>
            <button @click="signOut" class="btn btn-success">Sign out</button>
        </div>

        <div class="registered" v-if="registeredPage">
            <p>Hello {{signedUser}}!</p>
            <p>You have registered successfully!</p>
            <button @click="gotoSignIn" class="btn btn-success">Sign in</button>
        </div>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
    <script>
        if (localStorage.length === 0) {
            localStorage.setItem('user1', '1');
            localStorage.setItem('user2', '2');
            localStorage.setItem('user3', '3');
        }
    </script>
</body>
</html>